.Library{
    justify-content: center;
    display: flex;
    background-color: #0f0e0e;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    height: 70vh;
    margin-bottom: 4%;
}


.bookItem {
    width: 100%;
    background-color: transparent;
    margin-top: 0.25%;
    border-radius: 5px;
    width: 80vw;
    height: 5vh;
    margin-right: 3%;
    justify-content: initial;
    align-items: initial;
    display:flex;
    border: none;

    @media screen and (max-width:700px) {
        font-size: 80%;
    }
  }

#noBooksText{
    color: white;
}

#pageInfo{
    text-align: end;
}