body {
    background-color: #171717 !important;
}

.logout{
    color: white;
    background-color: #171717;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 5px;
    right: 1%;
    bottom: 7%;
    position: absolute;

    @media screen and (max-width:470px) {
        font-size: 11px;
    }

    @media screen and (max-width: 320px) {
        font-size: 8px; /* Further adjust the font size for even smaller screens */
    }
    @media screen and (max-width: 50px) {
        font-size: 3px; /* Further adjust the font size for even smaller screens */

    }

}

.logout:hover{
    transform: scale(1.1);
    color: gainsboro;
}

.userName{
    position: absolute;
    right: 0.5%;
    top:5%;
    margin-right: 1%;
    font-size: 15px;

    @media screen and (max-width:470px) {
        font-size: 12px;
    }

    @media screen and (max-width: 320px) {
        font-size: 8px; /* Further adjust the font size for even smaller screens */
    }
    
}

#logOut{
    background-color: red !important;
}


.profileHeader {
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: rgb(83, 73, 73);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding-bottom: 3%;
    font-size: 25px;
    margin-top: 9%;
    bottom: 50px;

    @media screen and (max-width:1200px) {
        margin-top: 15%;
    }

    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin-right: 0;
        font-size: 20px; /* Adjust the font size for smaller screens */
        border-radius: 0;
        margin-top: 20%;

    }
    /* Media query for screens with width up to 470 pixels */
    @media screen and (max-width: 700px) {
        margin-left: 0;
        margin-right: 0;
        font-size: 18px; /* Adjust the font size for smaller screens */
        border-radius: 0;
        margin-top: 25%;

    }
    @media screen and (max-width:450px) {
        margin-top: 35%;
    }

    /* Media query for screens with width up to 320 pixels */
    @media screen and (max-width: 350px) {
        font-size: 14px; /* Further adjust the font size for even smaller screens */
        margin-top: 40%;
    }

    @media screen and (max-width: 300px) {
        font-size: 14px; /* Further adjust the font size for even smaller screens */
        margin-top: 50%;
    }
    
    @media screen and (max-width: 220px) {
        font-size: 12px; /* Further adjust the font size for even smaller screens */
        margin-top: 60%;

    }
    
    @media screen and (max-width: 180px) {
        font-size: 11px; /* Further adjust the font size for even smaller screens */
        margin-top: 80%;
    }
    @media screen and (max-width: 50px) {
        font-size: 3px; /* Further adjust the font size for even smaller screens */
        margin-top: 150%;
    }
}
.profileButton{
    color: white;
    border: none;
    border-bottom: transparent;
    transition: 0.3s ease-out;
    font-size: 65%;
    background-color: transparent;
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}

#infoButton{
    left: 5%;
}

#commentsButton{
    left: 15%;
}

#novelsCreatedButton{
    left: 25%;
}

#libraryButton{
    left: 40%;
}

#reviewButton{
    left: 50%;
}

.NovelsCreated:hover,.Comments:hover,.InfoButton:hover,.LibraryButton:hover{
    color: dodgerblue;
    border-bottom: 2% dodgerblue;
}


.buttonClicked{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:1px solid dodgerblue;
    transition: 0.3s ease-out;
    font-size: 65%;
    background-color: transparent;
    color: dodgerblue;
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}

@media screen and (max-width:630px) {
    .profileHeaderSmall{
        display: grid !important;
    }
}

@media screen and (max-width:630px) {
    .profileHeader{
        display: none;
    }

}


.profileHeaderSmall {
    margin-top: 20% !important;
    margin: 5% 5% 2%;
    height: 11vh !important;
    display: none;
    grid-template-rows: auto auto;

    @media screen and (max-width:400px) {
        margin-top:30% !important;
    }
  }
  
.item {
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    font-size: 15px;
}

.item:hover{
    color: dodgerblue;
}

  
.item-large {
    grid-row: 1;
  }

  .item:nth-child(1){
    margin-right: 30%;
  }

  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(6) {
    grid-column: span 3;
    width: 100%;
  }
  
  .item:nth-child(3),
  .item:nth-child(4),
  .item:nth-child(5) {
    grid-row: 2;
    grid-column: span 3;
  }