

.novelCover{
    width: auto;
    max-height: 100%;
    border-radius: 5px;
    max-width: 100%;
}

#backgroundImage{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 95%;
    height: 70vh;
    background-size: cover;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    transform: scale(1.1);
}

.commentAlert{
    text-align: center;
    height: 25px;
}

.bookExtraInfo {
    width: 100%;
    height: auto;
    margin: 3em 0;
    background-color: rgb(50, 52, 53);
    border-radius: 5px;
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    text-align: start; 
    justify-content: flex-start;
}

.bookExtraInfoText{
    color: white;
    text-align: start;
    padding: 4%;
}

.likeDislikeContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    gap: 5px;
    height: auto;
    justify-content: end;
}

.voteButtons{
    width: 25px;
}

.feedbackText{
    font-weight: 600;
}

.bookExtraInfoTags{
    text-align: start;
    padding: 4%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.headerContainer{
    display: flex;
    justify-content:space-between;
}

.writeCommentContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.writeCommentTextArea{
    width: 80%;
    background-color: rgb(50, 52, 53);
    color: white;
    padding: 5px;
    border: none;
    resize: none;
    height: auto;
    overflow: hidden;
    font-size: 1.3em;
    border-radius: 5px;
}

.submitCommentButton{
    background-color: rgb(96, 114, 122);
    border: none;
    height: 40px;
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.writeCommentButton{
    background-color: rgb(96, 114, 122);
    border: none;
    height: 40px;
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.loadMoreButton{
    background-color: rgb(96, 114, 122);
    border: none;
    height: 40px;
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.bookPageStar{
    max-width: 40px;
    margin-right: 3px;
}

.writeCommentButton:hover{
    opacity: 0.8;
    color: black;
}

#coloum{
    display: flex;
    flex-direction: column;
}

.bookExtraRowText{
    color: white;
    text-align: start;
    padding: 4%;
    height: auto;
    text-overflow: ellipsis;
}

.feedbackButton{
    text-align:start;
    align-items: center;
}

.bookExtraInfoTag{
    background-color: rgb(63, 63, 65);
    padding: 5px;
    border-radius: 5px;
    color: white;
    height: 1.7em;
    text-align: center;
    width: auto;
    border: 2px solid white;
}

.extraInfoRow{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    width: auto;
    gap: 10vw;
    height: auto;
    justify-content: space-between;
}

.Wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width:1200px) {
    .Wrapper{
        max-width: 90%;
    }
}

.bookPagebookInfo {
    padding: 15px;
    position: absolute;
    width: 45%;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.title{
    margin-left: 2%;
    color: white;
    font-size: 1.7em;
}

.author{
    margin-top: 1%;
    margin-left:2%;
    color: white;
    font-size: 1.2em;
}

.genre{
    margin-top: 2%;
    margin-left:2%;
    color: white;
    font-size: 1.2em;
}

.chapters{
    margin-left: 2%;
    margin-top: 1%;
    color: white;
    font-size: 1.2em;
}

#addButton{
    border: none;
    background-color: rgb(65, 69, 71);
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.readButton{
    background-color: rgb(65, 69, 71);
    cursor: pointer;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;
}

.readButton:hover,#addButton:hover{
    opacity: 0.8;
    color: black;
}

.bookCD{
    opacity: 0.5;
    cursor: none;
}

.className{
    margin: 10px;
}

.commentContainer{
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    background-color: rgb(50, 52, 53);
    color: white;
    border-radius: 5px;
    margin-top: 5%;
    display: grid;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.Comment{
    background-color: rgb(93, 99, 101);
    padding: 20px;
    border-radius: 5px;
}

.commentField{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    height: auto;
    padding: 10px;
}

.rateButton{
    background-color: rgb(96, 114, 122);
    border: none;
    width: auto;
    font-size: 0.8em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 3px;
}

.commentText{
    width: 90%;
    height: auto;
    text-overflow: ellipsis;
    word-break: break-word;
    border: none;
    color: white;
}

#buttonContainer{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-top: 5%;
    width: 70%;
}

.rating{
    margin-top: 1%;
    margin-left: 2%;
    color: white;
    font-size: 1.2em;
}

#footer{
    margin-top: 5%;
    width: 100%;
    height: 10%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}


#bookPagePictureContainer{
    width: 40%;
    height: 100%;
    display: flex;
    place-content: flex-end;
}


@media screen and (min-width:1000px) {
    #phone{
        display: none;
    }
    
    #desktop{
        display: block;
        height: 50vh;
        max-height: 700px;
        background-color: rgb(38, 40, 41);
        padding: 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width:1000px) {

    .commentContainer{
        width: 90%;
        margin: 0 auto;
    }

    .commentUsername{
        text-align: start;
    }

    .commentText{
        text-align: start;
    }

    .commentField{
        display: flex;
        justify-content: center;
    }
    
    #bookPagePictureContainer{
        width: 60%;
        height: 100%;
        display: flex;
        place-content: flex-end;
        margin: 2% auto;
    }

    #phone{
        display: block;
        background-color: rgb(50, 52, 53);
        padding-bottom: 15px;
        border-radius: 10px;
        padding: 10px;
    }
    #desktop{
        display: none;
    }
    .commentAlert{
        text-align: center;
        height: 20px;
        margin: 0 auto;
        width: 70%;
        height: 50px;
        margin-bottom: 15px;
        font-size: 0.85em;
    }
    #authorPhone{
        font-size: 1rem;
    }
    #genrePhone{
        font-size: 1rem;
    }
    #chaptersPhone{
        font-size: 1rem;
    }
    .titlePhone{
        font-size: 1.8rem;
    }
    .ratingPhone{
        font-size: 1rem;
    }
    .extraInfoRow{
        flex-direction: column;
    }
    .bookExtraInfo{
        margin-top: 10%;
    }
    .readButtonPhone{
        background-color: rgb(50, 53, 54);
        margin-right: 10px;
        padding: 10px;
        border-radius: 3px;
        font-size: 1rem;
        width: 120px;
        height: 50px;
    }
    #addButtonPhone{
        background-color:rgb(50, 53, 54);
        padding: 10px;
        border-radius: 3px;
        font-size: 1rem;
        width: 120px;
        height: 50px;
    }
    #bookInfoPhone{
        background-color: rgb(64, 65, 66);
        width: 80%;
        text-align: center;
        height: auto;
        padding-bottom: 5%;
        color: white;
        margin: 0 auto;
        border-radius: 10px;
    }
    .bookExtraInfoTags{
        text-align: start;
        padding: 4%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #phoneButtonContainer{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        
    }
    #novelCoverPhone{
        width: auto;
        margin-top: 5%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
        min-width: 80%;
    }
    #phoneItemsWrapper{
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:650px) {
    .bookPageStar{
        max-width: 30px;
        margin-right: 3px;
    }
}

@media screen and (max-width:500px) {
    #phoneButtonContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    #addButtonPhone{
        margin: 0 auto;
        width: 70%;
        height: 70px;
    }
    .readButtonPhone{
        margin: 0 auto;
        width: 70%;
        height: 60px;
    }

    .commentContainer{
        padding: 10px;
    }

    .headerContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .writeCommentButton{
        font-size: 0.8em;
    }
    .writeCommentContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 5px;
    }
}

@media screen and (max-width:400px) {
    .titlePhone{
        font-size: 1.5rem;
    }
    #commentsTitle{
        font-size: 1.1rem;
    }

    .bookPageStar{
        max-width: 28px;
        margin-right: 3px;
    }

    .headerContainer{
        width: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .Comment{
        width: 100%;
        padding: 4px;
    }
    .commentField{
        width: 12em;
        padding: 0px;
    }
}


.notLoginIn{
    display: none;
}

#authorButton{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

