

.novelCover{
    width: auto;
    max-height: 100%;
    border-radius: 5px;
    max-width: 100%;
}

#backgroundImage{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 95%;
    height: 70vh;
    background-size: cover;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    transform: scale(1.1);
}

.bookPageInfoColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;

}

.commentAlert{
    text-align: center;
    height: 25px;
}

.bookExtraInfo {
    width: 100%;
    height: auto;
    margin: 3em 0;
    background-color: rgb(38, 40, 41);
    border-radius: 5px;
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    text-align: start; 
    justify-content: flex-start;
}

.bookExtraInfoText{
    color: white;
    text-align: start;
    padding: 4%;
    padding-top: 0%;
}

.likeDislikeContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    gap: 5px;
    height: auto;
    justify-content: end;
}

.voteButtons{
    width: 25px;
}

.feedbackText{
    font-weight: 600;
}

.bookExtraInfoTags{
    text-align: start;
    padding: 4%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.headerContainer{
    display: flex;
    justify-content:space-between;
}

.writeCommentContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.writeCommentTextArea{
    width: 80%;
    background-color: rgb(50, 52, 53);
    color: white;
    padding: 5px;
    border: none;
    resize: none;
    height: auto;
    overflow: hidden;
    font-size: 1.3em;
    border-radius: 5px;
}

.submitCommentButton{
    background-color: rgb(96, 114, 122);
    border: none;
    height: 40px;
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.writeCommentButton{
    font-family: Inter;
    background-color: rgb(96, 114, 122);
    border: none;
    height: 40px;
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.replySuccess{
    color: rgb(13, 148, 13);
    font-size: 0.9em;
}

.replyError{
    color: rgb(216, 55, 55);
    font-size: 0.9em;
}

.commentReplyContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.summaryConatienr{
    width: 100%;
}

@font-face {
    font-family: Inter;
    src: url("../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.bookSummary{
    margin: 0 8%;
    color: white;
    font-size: 1.1em;
    text-align: start;
    word-break: break-word;
}

.summaryHeader{
    font-size: 1.5em;
    margin: 3% 4%;
    width: auto;
    color: white;
}

.summaryBorder{
    border-bottom: 1px solid white;
    margin: 3% 4%;
    width: auto;
}

.loadMoreButton{
    background-color: rgb(96, 114, 122);
    border: none;
    height: 40px;
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.bookPageStar{
    max-width: 40px;
    margin-right: 3px;
}

.writeCommentButton:hover{
    opacity: 0.8;
    color: black;
}

#coloum{
    display: flex;
    flex-direction: column;
}

.bookExtraRowText{
    color: white;
    text-align: start;
    padding: 4%;
    height: auto;
    word-break: break-word;
    text-overflow: ellipsis;
}

.feedbackButton{
    text-align:start;
    align-items: center;
}

.bookExtraInfoTag{
    background-color: rgb(63, 63, 65);
    padding: 5px;
    border-radius: 5px;
    color: white;
    height: 1.7em;
    text-align: center;
    width: auto;
    border: 2px solid white;
}

.extraInfoRow{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: auto;
    gap: 10vw;
    height: auto;
    justify-content: space-between;
}

.Wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width:1200px) {
    .Wrapper{
        max-width: 100%;
    }
}

.bookPagebookInfo {
    padding: 15px;
    position: absolute;
    width: 45%;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.Title{
    color: white;
}

.bookInfoText{
    color: white;
    font-size: 1.2em;
}

#addButton{
    border: none;
    background-color: rgb(65, 69, 71);
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.readButton{
    background-color: rgb(65, 69, 71);
    cursor: pointer;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;
}

.readButton:hover,#addButton:hover{
    opacity: 0.8;
    color: black;
}

.bookCD{
    opacity: 0.5;
    cursor: none;
}

.className{
    margin: 10px;
}

.commentContainer{
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    background-color: rgb(38, 40, 41);
    color: white;
    border-radius: 5px;
    margin-top: 5%;
    display: grid;
    align-items: center;
    padding: 20px 0px;
    justify-content: center;
}

.thisUserComment{
    color: rgb(230, 101, 101) !important;
}

.Trashcan{
    max-width: 25px;
    cursor: pointer;
}

.TrashcanContainer{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.bottomContainerComment{
    padding-top: 10px;
    border-top: 1px solid  rgb(68, 69, 71);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.replyContainer{
    text-align: start;
}

.replyButton{
    color: #769af3;
    text-align: start;
}

.commentReplies{
    position: relative;
    background-color: rgb(43, 44, 45);
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid rgb(68, 69, 71);
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.replyUser{
    color: #98abdb;
    text-align: start;
    cursor:pointer;
}

.replyText{
    text-align: start;
    color: white;
}

.Reply{
    background-color: rgb(43, 44, 45);
    border-radius: 5px 0px 0px 0px;
    padding: 20px;
    border: 1px solid rgb(68, 69, 71);
    border-bottom: 0px;
    border-right:0px;
}

.Comment{
    position: relative;
    background-color: rgb(43, 44, 45);
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(68, 69, 71);
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}

.commentField{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    height: auto;
    padding: 10px;
}

.viewAllReplies{
    border-top: 1px solid rgb(68, 69, 71);
    color:white;
}

.viewAllRepliesButton{
    padding: 5px;
    color: rgb(109, 109, 226);
}

.TrashcanContainerReply{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.replyInput{
    width: 90%;
    background-color: rgb(50, 52, 53);
    color: white;
    padding: 5px;
    border: none;
    resize: none;
    height: auto;
    overflow: hidden;
    font-size: 1em;
    border-radius: 5px;
}

.replyButtonsContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    width: auto;
    padding: 5px;
}

.sendReply{
    background-color: rgb(81, 205, 50);
}

.cancelReply{
    background-color: red;
}

.replyInputButton{
    border: none;
    width: auto;
    font-size: 0.8em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 3px;
}

.replyTextContainer{
    margin-top: 15px;
    width: 90%;
}

.rateButton{
    background-color: rgb(96, 114, 122);
    border: none;
    width: auto;
    font-size: 0.8em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 3px;
}

.commentText{
    width: 90%;
    height: auto;
    text-overflow: ellipsis;
    word-break: break-word;
    border: none;
    color: white;
}

#buttonContainer{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-top: 5%;
    width: 70%;
}

.rating{
    color: white;
    font-size: 1.2em;
}

#footer{
    margin-top: 5%;
    width: 100%;
    height: 10%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}


#bookPagePictureContainer{
    width: 40%;
    height: 100%;
    display: flex;
    place-content: flex-end;
}

.commentUsername{
    cursor: pointer;
    color: #769af3;
}


@media screen and (min-width:1000px) {
    #phone{
        display: none;
    }
    
    #desktop{
        display: block;
        height: 50vh;
        max-height: 700px;
        background-color: rgb(38, 40, 41);
        padding: 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width:1000px) {

    .commentContainer{
        width: 90%;
        margin: 0 auto;
    }

    .commentReplyContainer{
        width: 90%;
        margin: 0 auto;
    }

    .commentUsername{
        text-align: start;
    }

    .commentText{
        text-align: start;
    }

    .commentField{
        display: flex;
        justify-content: center;
    }

    .Bookmarks{
        margin-left: 2%;
        margin-top: 1%;
        color: white;
        font-size: 1em;
    }
    
    #bookPagePictureContainer{
        width: 60%;
        height: 100%;
        display: flex;
        place-content: flex-end;
        margin: 2% auto;
    }

    #phone{
        display: block;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    #desktop{
        display: none;
    }
    .commentAlert{
        text-align: center;
        height: 20px;
        margin: 0 auto;
        width: 70%;
        height: 50px;
        margin-bottom: 15px;
        font-size: 0.85em;
    }
    #authorPhone{
        font-size: 1rem;
    }
    #genrePhone{
        font-size: 1rem;
    }
    #chaptersPhone{
        font-size: 1rem;
    }
    .titlePhone{
        font-size: 1.8rem;
    }
    .ratingPhone{
        font-size: 1rem;
    }
    .extraInfoRow{
        flex-direction: column;
        gap: 5vw;
    }
    .bookExtraInfo{
        margin-top: 10%;
    }
    .readButtonPhone{
        background-color: rgb(50, 53, 54);
        margin-right: 10px;
        padding: 10px;
        border-radius: 3px;
        font-size: 1rem;
        width: 120px;
        height: 50px;
    }
    #addButtonPhone{
        background-color:rgb(50, 53, 54);
        padding: 10px;
        border-radius: 3px;
        font-size: 1rem;
        width: 120px;
        height: 50px;
    }
    #bookInfoPhone{
        background-color: rgb(64, 65, 66);
        width: 80%;
        text-align: center;
        height: auto;
        padding-bottom: 5%;
        color: white;
        margin: 0 auto;
        border-radius: 10px;
    }
    .bookExtraInfoTags{
        text-align: start;
        padding: 4%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #phoneButtonContainer{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        
    }
    #novelCoverPhone{
        width: auto;
        margin-top: 5%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
        min-width: 80%;
    }
    #phoneItemsWrapper{
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    .commentField{
        width: 40em;
    }
}

@media screen and (max-width:800px) {
    .commentField{
        width: 33em;
    }
}
@media screen and (max-width:650px) {
    .bookPageStar{
        max-width: 30px;
        margin-right: 3px;
    }
    .commentField{
        width: 26em;
    }
    .replyError{
        font-size: 0.7em;
    }
    .replySuccess{
        font-size: 0.7em;
    }
    .replyCharacterCount{
        font-size: 0.7em;
    }
}

@media screen and (max-width:500px) {
    #phoneButtonContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    .replyButtonsContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #addButtonPhone{
        margin: 0 auto;
        width: 70%;
        height: 70px;
    }
    .readButtonPhone{
        margin: 0 auto;
        width: 70%;
        height: 60px;
    }

    .headerContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .writeCommentContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 5px;
    }
    .commentField{
        width: 22em;
    }
}

@media screen and (max-width:450px) {
    .commentField{
        width: 19em;
    }
    .Reply{
        padding: 10px;
    }
}

@media screen and (max-width:400px) {
    .titlePhone{
        font-size: 1.5rem;
    }
    #commentsTitle{
        font-size: 1.1rem;
    }

    .bookPageStar{
        max-width: 28px;
        margin-right: 3px;
    }

    .headerContainer{
        width: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .commentField{
        width: 18em;
        padding: 10px;
    }
}

@media screen and (max-width:315px) {
    .commentField{
        width: 16em;
    }
}

@media screen and (max-width:290px) {
    .commentField{
        width: 14em;
    }
}



.notLoginIn{
    display: none;
}

#authorButton{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

