/* headerStyle.css */
.headerDesign {
    background-color: black;
  }
  
  .header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    min-width: 350px;
    position: relative; /* Add position relative to the header container */
  }
  
  .button,
  .profileButton {
    color: #acacac    ;
    background-color: transparent;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 150%;
  }
  
  .button:hover,
  .profileButton:hover {
    color: gray;
  }
  
  .profileButton {
    font-size: 70%;
    background-color: transparent;
    margin-top: 20px;
  }
  
  /* Set position and z-index for the Library button to fix its position */
  .profileButton:nth-child(6) {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  
  /* Responsive styles using media queries */
  @media screen and (max-width: 768px) {
    .header {
      flex-wrap: wrap;
      font-size: 100%;
    }
  
    .button,
    .profileButton {
      font-size: 15px;
      margin: 5px;
    }
  
    .profileButton {
      font-size: 14px;
      margin-top: 5px;
      margin-right: 0;
    }
  
    /* Adjust the position of the Library button for smaller screens */
    .profileButton:nth-child(6) {
      position: relative;
      top: auto;
      right: auto;
      z-index: auto;
    }
  
    /* Adjust the margin for the second profileButton on smaller screens */
    .profileButton:nth-child(7) {
      margin-top: 5px;
    }


  }

  @media screen and (max-width: 450px) {
    .header {
      flex-wrap: wrap;
      font-size: 75%;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 200px) {
    .header {
      flex-wrap: wrap;
      font-size: 40%;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 100px) {
    .header {
      flex-wrap: wrap;
      font-size: 20%;
      margin-left: 0;
    }
  }