.NovelCover{
    width: 40%;
    position: absolute;
    margin-top: 10%;
    height: auto;
}

.Wrapper{
    position: relative;
    margin-top: 6%;
    margin-left: 9%;
    margin-right: 9%;
}

.BookInfo{
    margin-top: 8.2%;
    height: 37.5%;
    position: fixed;
    margin-left: 35%;
    width: 45%;
}

.Title{
    margin-left: 2%;
    color: white;

}

.Author{
    margin-top: 2%;
    margin-left:2%;
    color: white;

}

.Chapters{
    margin-left: 2%;
    margin-top: 1%;
    color: white;
}

.AddButton{
    margin-top: 8%;
    border: none;
    background-color: blue;
    margin-left: 5%;
    height: 13%;
    width: 20%;
    border-radius: 5px;
    color: white;
}

.ReadButton{
    background-color: blue;
    border: none;
    margin-left: 4%;
    height: 13%;
    width: 20%;
    border-radius: 5px;
    color: white;

}