.loginBox{
    border: 2px solid #333;
    padding: 20px;
    width: 45vw;
    height: 30vh;
    margin: 0 auto;
    text-align: center;
    background-color: gray;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    position: relative;
}

.input{
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    background-color: lightgray;
    border: none;
    color: blue;
    border-radius: 3px;
}

.Button{
    margin-left: 8%;
    background-color: #333;
    border-radius: 2px;
    border: none;
    margin-right: 8%;
    margin-top: 4%;
    font-size: 130%
}

.Button:hover{
    transform: scale(1.1)
}

.createNew{
    background-color: grey;
    border: 2px solid #333;
    padding: 20px;
    width: 45vw;
    height: 30vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    height: 50%;
}


@media screen and (max-width:800px) {
    .loginBox,.createNew{    
        margin-top: 12%;
    }
}

@media screen and (max-width:640px) {
    .loginBox,.createNew{    
        margin-top: 20%;
    }
}

@media screen and (max-width:480px) {
    .loginBox,.createNew{    
        margin-top: 26%;
    }
}

@media screen and (max-width:340px) {
    .loginBox,.createNew{    
        margin-top: 30%;
    }
}

@media screen and (max-width:240px) {
    .loginBox,.createNew{    
        margin-top: 40%;
    }
}

@media screen and (max-width:170px) {
    .loginBox,.createNew{    
        margin-top: 52%;
    }
    .Button{
        font-size: 100%;
    }
}

@media screen and (max-width:170px) {
    .loginBox,.createNew{    
        margin-top: 70%;
    }
    .Button{
        font-size: 80%;
    }
}

@media screen and (max-width:70px) {
    .loginBox,.createNew{    
        margin-top: 80%;
    }
    .Button{
        font-size: 60%;
    }
}


#alert{
    position: absolute;
    left: 0;
    right: 0;
    margin: 3% auto;
    color: red;
}
