#novelWorkShopTitle{
    text-align: center;
    font-size: 2em;
    color: rgb(224, 220, 220);
    font-family: NunitoSans;
}

@font-face {
    font-family: NunitoSans;
    src: url("../../../Fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

#novelWorkShopContainer{
    width: 50%;
    height: 100%;
    margin: 2% auto;
    background-color: rgb(50, 52, 53);
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width:1400px) {
    #novelWorkShopContainer{
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    #novelWorkShopTitle{
        font-size: 1em;
    }
}

#novelWorkSpaceTotalChapters{
    text-align: start;
    font-size: 1.5em;
    color: rgb(224, 220, 220);
    font-family: NunitoSans;
}

#novelWorkspaceNewChapterButton{
    background-color: rgb(65, 67, 68);
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 10px;
}

#novelWorkspaceNewChapterButton:hover{
    background-color: rgb(79, 81, 82);
}

#novelWorkspaceViewingContainer{
    background-color:transparent;
    width: 80%;
    margin: 1% auto;
    height: auto;
    padding:10px;
    border-radius: 10px;
    text-align: center;
}

#novelWorkspaceChapterInputText{
    width: 90%;
    margin-top: 1%;
    height: 70vh;
    background-color: rgb(31, 31, 32);
    text-align: left; 
    color: white;
    border: none;
    border-radius: 5px;
    padding:5px;
    resize: none;
    font-size: 1.2em;
    overflow-y: auto;
}

#maxChaptersText{
    color: white;
}

.novelWorkshopPublishChapterButton{
    width: auto;
    background-color: rgb(58, 58, 60);
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
    font-family: NunitoSans;
}

#confirmButton{
    color: rgb(33, 133, 71);
}

#rejectButton{
    color: rgb(243, 64, 64);
    margin-left: 5px;
}

#novelWorkspaceChapterTitleInput{
    font-size: 1.5em;
    font-family: NunitoSans;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 58, 60);
    text-align: center;
    color: white;
    margin-bottom: 1%;
    width: 40%;
}

@media screen and (max-width:900px) {
    #novelWorkspaceChapterTitleInput{
        width: 80%;
        font-size: 0.8em;
    }
    
}