.searchBar{
    position: absolute;
    margin-top: 8%;
    margin-left: 35%;
    height:4%;
    width: 24%;
    background-color: black;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;

    @media screen and (max-width:1300px) {
        margin-top: 13%;
    }
    @media screen and (max-width:700px) {
        margin-top: 16%;
        width: 100%;
        margin-left: 0%;
    }
    @media screen and (max-width:480px) {
        margin-top: 25%;
        font-size: 70%;
    }
    
    @media screen and (max-width:330px) {
        margin-top: 29%;
        font-size: 50%;
    }
    @media screen and (max-width:250px) {
        margin-top: 40%;
        font-size: 45%;
    }
    @media screen and (max-width:180px) {
        margin-top: 50%;
        font-size: 60%;
    }
    @media screen and (max-width:130px) {
        margin-top: 55%;
        font-size: 60%;
    }
}

.Conatiner{
    display: grid;
    grid-template-columns: auto auto auto;

}

.book{
    color: white;
}

.containWrapper{
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
}