.searchBar{
    position: absolute;
    margin-top: 8%;
    margin-left: 35%;
    height:4%;
    width: 24%;
    background-color: black;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}