.searchBar{
    margin-left: 35%;
    height:4vh;
    width: 30vw;
    margin-top: 10vw;
    background-color: black;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: red;
    font-size: 2vh;

    @media screen and (max-width:1300px) {
        margin-top: 13%;
    }
    @media screen and (max-width:700px) {
        margin-top: 16%;
        width: 100%;
        margin-left: 0%;
    }
    @media screen and (max-width:480px) {
        margin-top: 25%;
        font-size: 70%;
    }
    
    @media screen and (max-width:330px) {
        margin-top: 29%;
        font-size: 50%;
    }
    @media screen and (max-width:250px) {
        margin-top: 40%;
        font-size: 45%;
    }
    @media screen and (max-width:180px) {
        margin-top: 50%;
        font-size: 60%;
    }
    @media screen and (max-width:130px) {
        margin-top: 55%;
        font-size: 60%;
    }
}

.Container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, 1fr); 
    gap: 10px; 
    background-color: blue;
    padding: 10px;
    height: 80vh;
    width: 80vw;
    @media screen and (max-width:350px) {
        grid-template-columns: auto;
        grid-template-rows: 10;
        gap: 20px;
    }
}


.book{
    color: white;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}

.containWrapper{

    
    width: 50%;
    margin-top: 25vh;
    height: 100%;
}