.ratingContainer{
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.ratingItem{
    background-color: rgb(50, 52, 53);
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#ratingText{
    color: white;
}

.commentField{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    height: auto;
    padding: 10px;
}

#addReviewInput{
    width: 100%;
    height: 50px;
    border: none;
    resize: none;
    margin-bottom: 10px;
    text-align: top;
    border-radius: 5px;
    background-color: rgb(195, 199, 201);
    padding: 5px;
}

.commentText{
    width: 90%;
    height: auto;
    text-overflow: ellipsis;
    word-break: break-word;
    border: none;
    color: white;
}

#bookCover{
    width: auto;
    max-height: 100%;
}

.reviewStar{
    width: 20px;
}

#reviewStarsRow{
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: auto;
    height: auto;
}

#bookInfoRow{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: auto;
}

#bookLink{
    font-family: Madimi;
    color: rgb(42, 42, 230);
    font-size: 1.3em;
    cursor: pointer;
    max-height: 35px;
    max-width: 200px;
}

#starAndButtonRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 10px;
}

#addReviewStarAndButtonRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: auto;
    margin-top: 5px;
    align-items: center;

}

.star{
    max-width: 50px;
    margin-right: 3px;

}

#ratingDescription{
    width: 60%;
    height: auto;
    text-overflow: ellipsis;
    display: flex;
    word-break: break-word;
    border: none;
    flex-direction: column;
    color: white;
    background-color: rgb(38, 40, 41);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}

#enableWriteReviewButton{
    font-family: Madimi;
    width: 60%;
    max-width: 100px;
    height: 50px;
    color: white;
    cursor: pointer;
    background-color: rgb(65, 69, 71);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: rgb(41, 42, 43) 4px 4px 0 0;
    margin-top: auto;
}

#addReviewContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgb(68, 73, 75);
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;}

#reviewText{
    color: white;
    font-size: 1.1em;
    font-family: Madimi;
}

#addReviewButton{
    font-family: Madimi;
    width: 60%;
    max-width: 100px;
    height: 50px;
    color: white;
    cursor: pointer;
    background-color: rgb(65, 69, 71);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: rgb(41, 42, 43) 4px 4px 0 0;
    margin-right: 15px;
}

.reviewSiteButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: scale(1.02);
}

.addReviewStar{
    width: 30px;
}

@font-face {
    font-family: Madimi;
    src: url("../Fonts/Madimi_One/MadimiOne-Regular.ttf");
}

@media screen and (max-width:650px) {
    .ratingItem{
        width: 90%;
    }
    #ratingDescription{
        width: 90%;
    }
    #addReviewInput{
        width: 90%;
    }
    #bookLink{
        font-size: 1em;
    }
    #addReviewContainer{
        width: 90%;
    }
    .addReviewStar{
        width: 25px;
    }
}

@media screen and (max-width:415px) {
    .star{
        max-width: 35px;
    }
}

@media screen and (max-width:370px) {
    .star{
        max-width: 25px;
    }
    #reviewText{
        font-size: 0.75em;
    }
}

@media screen and (max-width:275px) {
    .star{
        max-width: 20px;
    }
    #reviewText{
        font-size: 0.6em;
    }
    .addReviewStar{
        width: 20px;
    }
}
