.loginBox{
    border: 2px solid #272626;
    padding: 20px;
    width: 45vw;
    height: 30vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.096);
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    position: relative;
}

.input{
    margin-bottom: 15px;
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
    color: white;
    height: 20%;
    box-sizing: border-box;
    background-color: #111010 ;
    border: none;
    border-radius: 3px;
}

.Button{
    background-color: #333;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    border: none;
    color:white;
    margin: 4% 4%;
    font-size: 100%;
    padding:5px;
}

.Button:hover,#goBackToLogin{
    background-color:#363232;
    color: rgb(27, 24, 24);
}

.createNew{
    border: 2px solid #272626;
    padding: 20px;
    width: 45vw;
    height: 35vh;
    margin: auto auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.096);
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    position: relative;
}

@media screen and (max-width:1300px) {
    .Button{
        width: 35%;
    }
}


@media screen and (max-width:800px) {
    .loginBox,.createNew{    
        margin-top: 12%;
        width: 90%;
    }
    .Button{
        width: 40%;
    }
}

@media screen and (max-width:400px) {
    .loginBox{    
        width: 80%;
    }
    .Button{
        width: 30%;
        font-size: 60%;
    }
}

@media screen and (max-width:380px) {
    .Button{
        font-size: 50%;
    }
}

#alert{
    position: absolute;
    left: 0;
    right: 0;
    margin: 3% auto;
    color: red;
}

#goBackToLogin{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #333;
    width: 50px;
    height: 50px;
    color:white;
    margin: 2% 2%;
    border-radius: 5px;
    font-size: 100%;
}

#doNotShow{
    display: none;
}