#termsOfService{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border: none;
}

#termsOfServiceText{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 32px;
    margin-right:50px;
    font-size: 1.2em;
    text-decoration: underline;
    color: rgb(115, 115, 232);
}

@media screen and (max-width:1080px) {
    #termsOfServiceText{
        margin-bottom: 50px;
        margin-right: 20px;
        font-size: 1em;
    }
}

@media screen and (max-width:500px) {
    #termsOfServiceText{
        font-size: 0.6em;
    }
}