.searchBar {
    height: 4vh;
    width: 30%;
    margin: 7% auto 3% auto;
    background-color: rgb(36, 38, 39);
    border: none;
    border-radius: 20px;
    text-align: center;
    color: rgb(198, 197, 197);
    font-size: 1.1rem;

    /* Center vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1300px) {
        margin-top: 13%;
    }
    @media screen and (max-width: 700px) {
        margin-top: 16%;
        width: 100% !important;
    }
    @media screen and (max-width: 480px) {
        margin-top: 25%;
        font-size: 70%;
    }
    @media screen and (max-width: 330px) {
        margin-top: 29%;
        font-size: 50%;
    }
    @media screen and (max-width: 250px) {
        margin-top: 40%;
        font-size: 45%;
    }
    @media screen and (max-width: 180px) {
        margin-top: 50%;
        font-size: 60%;
    }
    @media screen and (max-width: 130px) {
        margin-top: 55%;
        font-size: 60%;
    }
}

.containerSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(50, 52, 53);
    border-radius: 10px;
    padding: 10px;
  }

  @media screen and (max-width:340px) {
    .containerSearch{
        width: 80%;
    }
}

.gridItemSearch {
    width: 45%; 
    margin: 5px; 
    text-align: left;
    background-color: red;
    height: auto;
}

#bookText{
    color: white;
    font-size: 100%;
}

@media screen and (max-width:530px){
    #bookText{
        font-size: 70%;
    }
}

@media screen and (max-width:430px){
    #bookText{
        font-size: 60%;
    }
}