
body{
    margin-top: 90px;
}
/* 
@media (min-width: 600px) {
    .gridContainer { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .gridContainer { grid-template-columns: repeat(3, 1fr); }
  } */

.gridContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        
  }
  .gridItem {
  color: white;
  padding: 0.5rem;
  height: 8rem;

  }
  .gridPicture{
    align-items: center;
    justify-content: center;
    display: flex;
    left: 0;
  }

  .test{
    width: 100%;
    max-height: 100%;
  }

.homeIntro{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    color: white;
    margin-bottom: 3%;
    text-decoration: underline;
}

@media screen and (max-width:800px) {
    .homeIntro{
        font-size: 2rem;
    }
}

@media screen and (max-width:550px){
    .homeIntro{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:370px) {
    .homeIntro{
        font-size: 1rem;

    }
}

.LibraryPic{
    padding-top:20%;
    display: block;
    max-width: 100%;
    height: auto;

}

.Title{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    @media screen and (max-width:850px) {
        font-size: 60%;
    }
    @media screen and (max-width:500px) {
        font-size: 45%;
        margin-bottom: 50%;
    }
    @media screen and (max-width:500px) {
        font-size: 35%;
        margin-bottom: 20%;
    }
}

.Title:hover{
    color: dodgerblue;
}

.Title:focus{
    color:blue;
}

.bookCover{
    width: 60%;
    height: 80%;
    border: 1px solid black;
    cursor: pointer;
}