.homeWrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    top:0;
    background-color: transparent ;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;

}

body{
    margin-top: 90px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: transparent;
    height: 800px;
    width: 1000px; 

    @media screen and (max-width:200px) {
        grid-template-columns:  auto;
        align-items: center;
        justify-self: center;
    }
        
  }
  .grid-item {
    background-color: transparent;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    height: 275px;
    align-items: center;

  }
  .grid-picture{
    align-items: center;
    justify-content: center;
    display: flex;
    left: 0;
  }


.homeIntro{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    color: white;
    text-decoration: underline;
}

@media screen and (max-width:800px) {
    .homeIntro{
        font-size: 2rem;
    }
}

@media screen and (max-width:550px){
    .homeIntro{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:370px) {
    .homeIntro{
        font-size: 1rem;

    }
}

.LibraryPic{
    padding-top:20%;
    display: block;
    max-width: 100%;
    height: auto;

}

.Title{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    @media screen and (max-width:850px) {
        font-size: 60%;
    }
    @media screen and (max-width:500px) {
        font-size: 45%;
        margin-bottom: 50%;
    }
    @media screen and (max-width:500px) {
        font-size: 35%;
        margin-bottom: 20%;
    }
}

.Title:hover{
    color: dodgerblue;
}

.Title:focus{
    color:blue;
}

.bookCover{
    width: 60%;
    height: 80%;
    border: 1px solid black;
    cursor: pointer;
}