.homeWrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    top:0;
    background-color: gray ;
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}

.homeIntro{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: 5vh;
    
}

.LibraryPic{
    padding-top:20%;
    display: block;
    max-width: 100%;
    height: auto;

}