#chaptersContainer{
    width: 75% !important;
    height: 75em;
    background-color: rgb(38, 40, 41);
    margin: 3% auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: auto auto;
    align-content: start;
    padding: 2%;
}

#chapterItem{
    height: auto;
    padding: 15px;
    margin: 0 2px;
    background-color: transparent;
    color: white;
    border-top: 1px solid rgb(201, 196, 196);
    border-bottom: 1px solid rgb(201, 196, 196);
}

#chapterItem:hover{
    background-color: rgb(201, 196, 196);
    color: black;
    cursor: pointer;
}

#chapterSelectionTitle{
    margin-bottom: 20%;
    width: 100%;
}

#noChaptersTitle{
    color: rgb(201, 196, 196);
}