.sideBar{
    position: fixed;
    color: white;
    padding-top: 5%;
    height: 100vh;
    font-size: 80%;
    margin-left: 2%;
}

.button{
    color: white;
    margin: 5px;
    display: flex;
    margin-top: 10%;
    font-size: 150%;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}

.button:hover{
    color: dodgerblue;
}
.button:active{
    color: blue;
}