.sideNav{
    margin-top: 6%;
    position: sticky;
    @media screen and (max-width:1000px) {
        margin-top: 10%;
    }
    @media screen and (max-width:550px) {
        margin-top: 15%;
    }
    @media screen and (max-width:400px) {
        margin-top: 22%;
        font-size: 70%;
    }
    @media screen and (max-width:270px) {
        margin-top: 30%;
        font-size: 70%;
    }
    @media screen and (max-width:200px) {
        margin-top: 45%;
        font-size: 70%;
    }
}

.button{
    color: white;
    justify-content: space-evenly;
    position: sticky;
    display: grid;
    margin-top: 3%;
    margin-left: 1%;
    font-size: 120%;
    border: none;
    background-color: transparent;
}

.button:hover{
    transition: 0.3s ease-in-out;
    color:dodgerblue;
}

.button:active{
    color: blue;
}