.sideNav{
    margin-top: 6%;
    position: sticky;
    transition: 0.3s;
    -webkit-transition: all 0.3s ease;

    @media screen and (max-width:1000px) {
        margin-top: 10%;
    }
    @media screen and (max-width:550px) {
        margin-top: 15%;
    }
    @media screen and (max-width:400px) {
        margin-top: 22%;
        font-size: 70%;
    }
    @media screen and (max-width:350px) {
    
        position: fixed !important;
        top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Create two columns */
        tramsform:translateX(-100%) !important;
        font-size: 60%;

        .title{
            display: none;
        }
       

        .sideNav.active {
            transform: translateX(100%);
            .sidebar{
                background-color: blue;
            }
        }
    }
}

.sidebar{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    background-color: white;
    height: 40px;
    border: none;
    display: none;
}

@media screen and (max-width:350px) {
    .sidebar{
        background-color: red;
        display: block;
    }
}
@media screen and (max-width:200px) {
    .sidebar{
        height: 30px;
        width: 10px;
    }
}


.button{
    color: white;
    justify-content: space-evenly;
    position: sticky;
    display: grid;
    margin-top: 3%;
    margin-left: 1%;
    font-size: 120%;
    border: none;
    background-color: transparent;
}

.button:hover{
    transition: 0.3s ease-in-out;
    color:dodgerblue;
}

.button:active{
    color: blue;
}

button{
    cursor: pointer;
}