.CreateNovelsContainer{
    align-items: center;
    justify-self: center;
    display: flex;
    height: 90%;
    margin: 7rem 2%;
    background-color: rgb(53, 51, 51);
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
}

.Label{
    color: white;
}
.bookNameInput{
    border: 1.5px solid black;
    color: white;
    background-color: #28282B;
    height: 30px;
    width: 100%;
    border-radius:4px;
}

.alertText{
    color:red;
    font-weight: bold;
}

.bookContent{
    background-color: transparent!important;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    align-items: top;
    display: flex;
    flex-direction: column;
}

.summaryInput{
    border: 1.5px solid black;
    color: white;
    background-color: #28282B;
    height: 50px;
    text-align: top !important;
    font-size: 1rem;
    width: 100%;
    resize: none;
    border-radius:4px;
    min-height: 50px;
}

.Selector{
    background-color: #28282B;
    border: 1.5px solid black;
    color: white;
    font-size: 0.8rem;
    width: 100%;
    height: 3%;
    border-radius:4px;
    padding: 10px;
}

.publishButton{
    color: white;
    background-color: dodgerblue;
    width: 35%;
    height: 5%;
    border: 0.1px solid blue;
    border-radius: 5px;
    padding: 15px;
}
.publishButton:hover{
    opacity: 0.9;
}

@media screen and (max-width:550px) {
    .CreateNovelsContainer{
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }
}

#headerTextForCN{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pictureToSelect{
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.selectedPicture{
    border: 2px solid dodgerblue;
}

#pictureSelectionText{
    margin-bottom: 5px;
}

@media screen and (max-width:300px) {
    .picturesOption{
        width: 100vw;
    }
}