.authorInfoContainer{
    margin: 0 auto;
    width:60%;
    height: 100vh;
    margin-top: 20px;
}

#noAuthorFound{
    margin-top: 10%;
    background-color: rgb(50, 52, 53);
    color: rgb(194, 197, 201);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.authorBookItem{
    height: 172.8px;
    width: 100%;
    color: white;
    margin: 0.6% 0;
    background-color: rgb(50, 52, 53);
    padding: 5px;
}

#bookPicture{
    height:172.8px;
    width:155.63px;;
    border-radius: 10px 0px 10px 0px;
}

#bookContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

#Title{
    position: absolute;
    color:white;
    margin-left: 160px;
    cursor: pointer;
}

#Chapters{
    position: absolute;
    margin-left: 160px;
    margin-top: 30px;
}

#totalInLibrary{
    position: absolute;
    margin-left: 160px;
    margin-top: 55px;
}

#authorName{
    color: white;
    font-family: Hedvig-serif;
}

#Genre{
    position: absolute;
    margin-left: 160px;
    margin-top: 80px;
}

#PR{
    color: white;
    position: absolute;
    margin-left: 160px;
    margin-top: 105px;
}

@font-face {
    font-family: Hedvig-serif;
    src: url("../Fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf");
}


@media only screen and (max-width: 1400px) {
    .authorInfoContainer{
        width: 100%;
    }
    .bookInfo{
        font-size: 0.8em;
    }
    
    #Chapters{
        position: absolute;
        margin-left: 160px;
        margin-top: 30px;
    }

    #totalInLibrary{
        position: absolute;
        margin-left: 160px;
        margin-top: 55px;
    }

    #authorName{
        color: white;
        font-family: Hedvig-serif;
    }

    #Genre{
        position: absolute;
        margin-left: 160px;
        margin-top: 80px;
    }

    #PR{
        color: white;
        position: absolute;
        margin-left: 160px;
        margin-top: 105px;
    }
}

@media screen and (max-width:756px) {
    #authorName{
        font-size: 1.5em;
    }
}

.bookInfo{
    color: white;
    font-size: 0.9em;
}

@media screen and (max-width: 420px) {
    #authorName{
        font-size: 1em !important;
        text-align: center;
    }
    .bookInfo{
        font-size: 0.7em;
    }
    #Title{
        font-size: 0.8em;
    }
    
}

#homePage{
    font-size: 1rem;
    margin-top: 2%;
    border: 2px solid gray;
    background-color: rgb(70, 73, 75);
    padding: 7px;
    border-radius: 2px;
}

#homePage:hover{
    background-color: rgb(50, 52, 53);
    cursor: pointer;
}

#homePage:active{
    background-color: rgb(43, 45, 46);
}