.Library{
    justify-content: center;
    display: flex;
    background-color: rgb(50, 52, 53);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0px 0px 10px 10px;
    height: 70vh;
    margin-bottom: 4%;
}


.bookItem {
    width: 100%;
    background-color: transparent;
    margin-top: 0.25%;
    width: 80vw;
    max-height: 80px;
    margin-right: 3%;
    display:flex;
    border-bottom: 2px solid rgb(24, 25, 26);
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:700px) {
        font-size: 80%;
    }
  }

#noBooksText{
    color: white;
}

#tableHeadContainer{
    margin: 0 5%;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(50, 52, 53) !important;
}

#tableHead{
    height: 30px;
    margin: 0 5%;
    color:white;
    background-color: rgb(50, 52, 53) !important;
    justify-content: space-between;
    display: flex;
}

#tableText{
    font-size: 1.2rem;
}

#pageInfo{
    margin-right: 10px;
}

#libraryBookPicture{
    margin: 5px 0px;
}

#novelTitleAndPicture{
    display: flex;
    align-items: center;
}

#libraryBookTitle {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    font-size: 1rem;
  }
