body {
    background-color: #171717 !important;
}

.logout{
    color: rgb(196, 196, 210);
    background-color: rgb(67, 71, 72);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 5px;
    left: 1%;
    top: 7%;
    position: absolute;

    @media screen and (max-width:470px) {
        font-size: 11px;
    }

    @media screen and (max-width: 320px) {
        font-size: 8px; /* Further adjust the font size for even smaller screens */
    }
    @media screen and (max-width: 50px) {
        font-size: 3px; /* Further adjust the font size for even smaller screens */

    }

}

.logout:hover{
    transform: scale(1.05);
    color: gainsboro;
    background-color: rgba(126, 132, 133, 0.623);
}

.userName{
    position: absolute;
    right: 0.5%;
    top:5%;
    margin-right: 1%;
    font-size: 15px;

    @media screen and (max-width:470px) {
        font-size: 12px;
    }

    @media screen and (max-width: 320px) {
        font-size: 8px; /* Further adjust the font size for even smaller screens */
    }
    
}

#logOut{
    background-color: red !important;
}

#profilePageText{
    font-size: 25px;
    position: absolute;
    top: 40%;
    bottom: 50%;
}

.profileHeader {
    color: white;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    position: relative;
    background-color: rgb(38, 40, 41);
    margin-left: 5%;
    margin-right: 5%;
    height: 20rem;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 9%;
    bottom: 50px;

    @media screen and (max-width:1350px) {
        margin-top: 15%;
    }

    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin-right: 0;
        font-size: 20px; 
        border-radius: 0;
        margin-top: 20%;
    }

    @media screen and (max-width: 700px) {
        margin-left: 0;
        margin-right: 0;
        font-size: 18px; 
        border-radius: 0;
        margin-top: 25%;
    }
    @media screen and (max-width:450px) {
        margin-top: 35%;
    }

    @media screen and (max-width: 350px) {
        font-size: 14px; 
        margin-top: 40%;
    }

    @media screen and (max-width: 300px) {
        font-size: 14px; 
        margin-top: 50%;
    }
    
    @media screen and (max-width: 220px) {
        font-size: 12px; 
        margin-top: 60%;
    }

}
.profileButton{
    color: white;
    border: none;
    border-bottom: transparent;
    transition: 0.3s ease-out;
    font-size: 1rem;
    background-color: transparent;
    bottom: 2%;
    display: flex;
    margin-top: auto;
    margin-bottom: 0.2%;

    @media screen and (max-width:700px) {
        font-size: 0.9rem !important;
    }

}
#infoButton{
    left: 5%;
}

#commentsButton{
    left: 15%;
}

#novelsCreatedButton{
    left: 25%;
}

#libraryButton{
    left: 40%;
}

#reviewButton{
    left: 50%;
} 

.NovelsCreated:hover,.Comments:hover,.InfoButton:hover,.LibraryButton:hover{
    color: dodgerblue;
    border-bottom: 2% dodgerblue;
}


.buttonClicked{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:1px solid dodgerblue;
    transition: 0.3s ease-out;
    font-size: 1rem;
    background-color: transparent;
    color: dodgerblue;
    display: flex;
    margin-top: auto;
    margin-bottom: 0.25%;

}

@media screen and (max-width:630px) {
    .profileHeaderSmall{
        display: grid !important;
        background-color: rgb(38, 40, 41);
        border-radius: 5px;
    }
}

@media screen and (max-width:630px) {
    .profileHeader{
        display: none;
    }

}


.profileHeaderSmall {
    margin: 3% 3% 5%;
    height: 11vh !important;
    display: none;
    color: aqua !important;
    
    grid-template-rows: auto auto;

    @media screen and (max-width:400px) {
        margin-top:20% !important;
    }
  }
  
.item {
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    font-size: 15px;
    border: 0px solid black;
    max-width: 160px;
}

@media screen and (max-width:312px) {
    .item{
        font-size: 12px;
    }
}

.item:hover{
    color: dodgerblue;
}

  
.item-large {
    grid-row: 1;
  }

  .item:nth-child(1){
    margin-right: 30%;
  }

  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(6) {
    grid-column: span 3;
    width: 100%;
  }
  
  .item:nth-child(3),
  .item:nth-child(4),
  .item:nth-child(5) {
    grid-row: 2;
    grid-column: span 3;
  }