
#doNotShow{
    display: none;
}

#cookieForm{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:block;
    background-color: rgb(65, 69, 71);
    border-radius: 10px;
    width: 30%;
    height: 30%;
    text-align: center;
    padding: 10px;
    color:white;
}

