
#doNotShow{
    display: none;
}

#cookieTitle{
    font-size: 1.8em;
    font-weight: bold;
}

.cookieInput{
    background-color: red;
}

#cookieForm{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#cookieBanner{
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

#cookiesInfoText{
    font-size: 1rem;
}

#cookiesOptionsContent{
    width: 100%;
}

#acceptAllText{
    font-weight: bold;
}

#AcceptButton{
    background-color: rgb(42, 83, 165);
}

#RejectButton{
    background-color: rgb(92, 91, 91);
}

.bannerButton{
    max-width: 350px;
    min-width: 70px;
    min-height: 50px;
    padding: 20px;
    background-color: rgb(65, 69, 71);
}

.bannerButton:hover{
    opacity: 0.8;
}

#ExtraCookiesOptions {
    width: 100%;
    height: auto;
    place-content: center;
    text-align: start;
    display: grid;
}

#CookiesOptions{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.cookieOption{
    width: 130%;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width:450px) {
    .cookieOption{
        font-size: 0.9em;
        width: 90%;
    }
}

#cookieBannerButtons{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    gap: 10px;
    margin: 50px auto;
}

.acceptOptionsButton{
    padding: 10px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    #cookieBannerButtons{
        grid-template-columns: 1fr;
    }
    #cookieBanner{
        margin-top: 100px; 
    }
}
